<h2>Theater Details</h2> 

<hr/>

<div class="form-group">
  <label for="name">Theater Id</label>
  <input type="text" class="form-control" id="theaterId" required [(ngModel)]="theaterId" name="theaterId">
  <br>
  <br>
  <button (click)="reloadData()" class="btn btn-danger">Search</button>
</div>


<div class="panel-body" *ngIf="theater">
 
  <br>
 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>theaterId</th>
        <th>theaterName</th>
        <th>theaterCity</th>
        <th>managerName</th>
        <th>managerContact</th>
        
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>{{theater.theaterId}}</td>
        <td>{{theater.theaterName}}</td>
        <td>{{theater.theaterCity}}</td>
        <td>{{theater.managerName}}</td>
        <td>{{theater.managerContact}}</td>
        
</tr>
</tbody>
</table>
</div>
