
  
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Movie List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>movieId</th>
            <th>movieName</th>
            <th>movieGenre</th>
            <th>movieDirector</th>
            <th>movieLength</th>
            <th>languages</th>
            <th>movieReleaseDate</th>
            
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mov of Movies | async">
            <td>{{mov.movieId}}</td>
            <td>{{mov.movieName}}</td>
            <td>{{mov.movieGenre}}</td>
            <td>{{mov.movieDirector}}</td>
            <td>{{mov.movieLength}}</td>
            <td>{{mov.languages}}</td>
            <td>{{mov.movieReleaseDate}}</td>
            
            
            <td><button (click)="deleteMovie(mov.movieId)" class="btn btn-danger">Delete</button>
                <button (click)="updateMovie(mov.movieId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>