
  
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Theater List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>theaterId</th>
            <th>theaterName</th>
            <th>theaterCity</th>
            <th>managerName</th>
            <th>managerContact</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let the of Theaters | async">
            <td>{{the.theaterId}}</td>
            <td>{{the.theaterName}}</td>
            <td>{{the.theaterCity}}</td>
            <td>{{the.managerName}}</td>
            <td>{{the.managerContact}}</td>
            
            <td><button (click)="deleteTheater(the.theaterId)" class="btn btn-danger">Delete</button>
                <button (click)="updateTheater(the.theaterId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>