
<h3>Update Theater</h3>
<div  style="width: 400px;">
 <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">TheaterName</label>
      <input type="text" class="form-control" id="theaterName" required [(ngModel)]="Theater.theaterName" name="theaterName">
    </div>

    <div class="form-group">
      <label for="name">Theater City</label>
      <input type="text" class="form-control" id="theaterCity" required [(ngModel)]="Theater.theaterCity" name="theaterCity">
    </div>
    <div class="form-group">
      <label for="name">Manager Name</label>
      <input type="text" class="form-control" id="managerName" required [(ngModel)]="Theater.managerName" name="managerName">
    </div>
    <div class="form-group">
      <label for="name">Manager Contact</label>
      <input type="text" class="form-control" id="managerContact" required [(ngModel)]="Theater.managerContact" name="managerContacts">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>